




header{
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(214deg, rgba(23,121,255,1) 36%, rgba(66,120,148,1) 62%);
}

header h3{
  position: relative;
  font-size: 4vw;;
}